# Entornos virtuales
venv/
.env/
.venv/

# Archivos de entorno
.env
.env.*
.env.local

# __pycache__ y compilados
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de logs
*.log

# Archivos del sistema
.DS_Store
Thumbs.db
