{% extends "admin/change_list.html" %} 
{% load i18n admin_urls static %} 

{% block content %}
<div class="d-flex justify-content-start w-full" style="justify-items: end">
	<div class="border flex inline-flex mb-4 rounded-md shadow-sm dark:border-gray-800" style="width: 250px">
		<button id="import-toggle" class="flex-1 text-center border-r dark:border-gray-800 px-4 py-2 text-gray-500 whitespace-nowrap hover:text-gray-700 dark:text-gray-400 hover:dark:text-gray-200 flex items-center space-x-2" type="button">
			<span class="material-symbols-outlined text-base">upload</span>
			<span>Importar</span>
		</button>
		<button id="export-toggle" class="flex-1 text-center px-4 py-2 text-gray-500 whitespace-nowrap hover:text-gray-700 dark:text-gray-400 hover:dark:text-gray-200 flex items-center space-x-2" type="button">
			<span class="material-symbols-outlined text-base">download</span>
			<span>Exportar</span>
		</button>
	</div>
</div>

<div id="import-form" class="form_import_xls" style="display: none">
	<form action="{% url 'admin:upload_employee' %}" method="post" enctype="multipart/form-data" class="form-inline">
		{% csrf_token %}
		<p class="bg-gray-100 mb-8 text-gray-700 px-3 py-3 rounded-md text-sm dark:bg-gray-700 dark:text-gray-300">
			Asegúrate de que el archivo esté en formato XLS y contenga los datos necesarios para la importación. El archivo debe tener el formato correcto.
		</p>
		<div class="form-group mb-2 d-flex align-items-center" style="margin-top: 30px; gap: 15px">
			<input type="file" name="xls_file" class="form-control-file" required accept=".xls, .xlsx" />
			<button type="submit" class="bg-primary-600 border border-transparent font-medium px-3 py-2 rounded-md text-sm text-white" required>
				Cargar Excel
			</button>
			<a href="{% static 'admin/doc/Plantilla_Empleados.xlsx' %}" download class="text-gray-700 hover:underline">
				<span class="material-symbols-outlined text-gray"></span>
				<u>Descargar plantilla</u>
			</a>
		</div>
	</form>
</div>

<div id="export-form" class="form_export_xls" style="display: none">
	<form action="{% url 'admin:export_employee' %}" method="get" class="form-inline">
		<div class="d-flex align-items-center bg-gray-100 mb-8 text-gray-700 px-3 py-3 rounded-md text-sm dark:bg-gray-700 dark:text-gray-300" style="gap: 10px">
			<span>Haz clic en el botón para exportar los datos de las cuentas de nómina en formato Excel.</span>
			<button type="submit" class="bg-primary-600 border border-transparent font-medium px-3 py-2 rounded-md text-sm text-white w-auto">
				Exportar a Excel
			</button>
		</div>
	</form>
</div>

<div class="filter" required style="margin-top: 20px">Filtros</div>

<script src="{% static 'admin/js/toggle.js' %}"></script>

{{ block.super }} 
{% endblock %}




